/* Always set the map height explicitly to define the size of the div
/* element that contains the map. */
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#tips_window{
	position: absolute;
	top: 25px;
	left:20%;
	z-index: 5;
	background-color: rgba(200,200,200,0);
	padding: 2px;
	/*border: 1px solid #999;*/
	border: 1px;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	line-height: 3px;
	padding-left : 1px;
}
#info_window1 {
	position: absolute;
	top: 5px;
	left: 50%;
	//margin-left: -180px;
	width: 700px;
	z-index: 5;
	/*background-color: #fff;*/
	background-color: rgba(200,200,200,0);
	padding: 5px;
	border: 1px solid rgba(200,200,200, 0);
}
#info_window2 {
	position: absolute;
	top: 25px;
	left: 50%;
	//margin-left: -180px;
	width: 700px;
	z-index: 5;
	/*background-color: #fff;*/
	background-color: rgba(200,200,200,0);
	padding: 5px;
	border: 1px solid rgba(200,200,200, 0);
}
